* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #f7f8fd;
}

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  background-color: purple;
}
.nav {
  background-color: bisque;
}
.header {
}
.inputEl,
.add-button {
  border-radius: 5px;
  height: 40px;
  border: 0;
}
.inputEl {
  width: 70%;
  margin-right: 10px;
}
.add-button {
  width: 26%;
}
.lista{
  background-color: aqua;
}