* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #f7f8fd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px 15px 0px 0px;
  gap: 15px;
} */
